<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">EMT 2023 Library</h1>
            <h3 class="jumbotron-heading">All categories</h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12" >
                <!--                th:if="${books.size() > 0}">-->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Category name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}" class="authors">
                            <td th:text="${category.toString()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>